@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');



/*------------ Login container ------------*/

.box-area{
    width: 930px;
}

/*------------ Right box ------------*/

.right-box{
    padding: 40px 30px 40px 40px;
}

/*------------ Custom Placeholder ------------*/

::placeholder{
    font-size: 16px;
}

.rounded-4{
    border-radius: 20px;
}
.rounded-5{
    border-radius: 30px;
}


/*------------ For small screens------------*/

@media only screen and (max-width: 768px) {
    .box-area {
        width: 100%; /* Adjusting width for smaller screens */
        padding: 0 20px; /* Adding padding to the sides */
    }
    .left-box {
        height: auto; /* Allowing height to adjust based on content */
        overflow: visible; /* Ensuring content is not hidden */
        
    }
    .right-box {
        padding: 20px; /* Adjusting padding for smaller screens */

    }
    .qrImage{
        height: 100px;
    }
}
