/* Update or add styles as needed for an elegant layout */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    margin-top: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #fff;
}

main {
    padding: 20px;
}

.countdown {
    text-align: center;
    margin-top: 20px;
}

.clock {
    display: inline-block;
    margin: 0 10px;
}

.time {
    font-size: 2em;
    color: #3498db;
}

.label {
    font-size: 0.8em;
    color: #555;
}

/* static/css/messages.css */
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

/* Add or update styles for sport buttons */
.sport-buttons {
    margin-top: 10px;
}

.sport-button {
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
    border: 1px solid #3498db;
    background-color: #fff;
    color: #3498db;
}

.sport-button.active {
    background-color: #3498db;
    color: #fff;
}

/* style.css */

.registration-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin-top: 20px; /* Add margin to separate it from the header */
}

.registration-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.registration-form input,
.registration-form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.registration-form button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}


footer {
    background-color: #34495e;
    color: #fff;
    padding: 10px;
    text-align: center;
}
